<form #registerForm="ngForm" novalidate>
<ion-card class="contentxyz">
  <ion-card-content>
    <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input [(ngModel)]="account.email" type="email" name="email" #email="ngModel" required
      pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z]{1,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
      title="Invalid email address"></ion-input>
    </ion-item>
    <div padding *ngIf="email.invalid && email.dirty">
        <span class="global_error_message">Email address entered is not valid</span>
    </div>

    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="account.password" type="password" name="password" #password="ngModel" required
        pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"></ion-input>
      </ion-item>
      <div *ngIf="password.invalid && password.dirty">
          <span
          class="global_error_message">Passwored must be 6 characters long with 1 UpperCase</span>
      </div>
      <ion-row>
        <button ion-button block (click)="register()" [disabled]="registerForm.invalid">Register</button>
      </ion-row>
  </ion-card-content>

</ion-card>
</form>
